body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Ariel', 'Times New Roman', Times, sans-serif;
}

 a {
    text-decoration: none;
    color: inherit;
 }
.header {
    display: flex;
    background: #1F2937;
    flex-direction: column;
    color: #F9FAF8;
    height: 450px;
}
.headertop {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 15px;
    align-items: center;
    height: 40px;
}
ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
.title {
    font-size: 24px;
    font-weight: 900; 
}
.headerlinks {
    font-weight: 400;
    font-size: 18px;
}
.headercontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 300px;
    height: 350px;
}
.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 425px;
}
.heromain {
    font-size: 48px;
    font-weight: 800px;
    width: 400px;
    margin-bottom: 0;
}
.herosecondary {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.signuptop {
    background: #3882F6;
    width: 100px;
    color: white;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
}
.headerimage {
    align-self: flex-end;
}
.infocontain {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.centerimages img{
    width: 150px;
    height: auto;
    border: 4px solid blue;
    border-radius: 10px;
}

.infocontain h2 {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
    font-family: 'Playfair', 'Times New Roman', sans-serif;
}

.centerimages {
    display: flex;
    gap: 30px;
}
.centerimg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 275px;
    max-width: 160px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #1F2937;
}

.quotecontain {
    height: 400px;
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainquote, .quoteauthor {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 450px;
}

.quoteauthor {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    margin-left: 450px;
}

.nearendcontain {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.signupcontain {
    background: #3882F6;
    min-height: 150px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #E5E7EB;
    justify-content: space-around;
    gap: 30px;
    border-radius: 10px;
}

.actioncall h3 {
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 0;
}
.actioncall p {
    margin-top: 0;
    margin-bottom: 0;
}

.signupbottom {
    width: 110px;
    height: 35px;
    border-radius: 5px;
    background: inherit;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    nar
}

.footer {
    height: 80px;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}